<launch>
  <arg name="name" default="CAMERA"/>
	<arg name="fovy" default="75"/>
	<arg name="X" default="0.0"/>
	<arg name="Y" default="0.0"/>
	<arg name="Z" default="0.3"/>
	
  <!-- Convert an xacro and put on parameter server -->
	<param name="robot_description_$(arg name)" command="$(find xacro)/xacro.py '$(find GazeboDomainRandom)/models/GazeboDomainRandom/urdf/camera.urdf.xacro' fovy:='$(arg fovy)' altitude:='$(arg Z)'" />
  
  <!-- Spawn a model into Gazebo -->
	<node name="spawn_camera_$(arg name)" pkg="gazebo_ros" type="spawn_model" args="-param robot_description_$(arg name) -urdf -x $(arg X) -y $(arg Y) -model $(arg name)" />
	
</launch>
