<launch>
  <arg name="X" default="2.0"/>
	<arg name="Y" default="0.0"/>
	<arg name="Z" default="0.3"/>

	<!-- Convert an xacro and put on parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find GazeboDomainRandom)/models/GazeboDomainRandom/urdf/robot.urdf.xacro'" />
  
  <!-- Spawn a model into Gazebo -->
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z $(arg Z) -x $(arg X) -y $(arg Y) -model robot" />
	
</launch>
