<?xml version="1.0"?>

<robot name="macroed_cylinder" xmlns:xacro="http://ros.org/wiki/xacro">
	<!--
	<xacro:arg name="color" default="Blue"/>
	<xacro:arg name="name" default="cylinder1"/>
	-->
	
	<xacro:macro name="simple_cylinder" params="name color scale">
		<link name="cylinder_${name}">

		  <inertial>
		    <origin xyz="0 0 0" />
		    <mass value="10.0" />
		    <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
		  </inertial>

		  <visual>
		    <origin xyz="0 0 ${scale*0.125}"/>
		    <geometry>
		      <cylinder radius="${scale*0.25}" length="${scale*0.25}" />
		    </geometry>
		    
		  </visual>

		  <collision>
		    <origin xyz="0 0 ${scale*0.125}"/>
		    <geometry>
		      <cylinder radius="${scale*0.25}" length="${scale*0.25}" />
		    </geometry>
		  </collision>
		</link>

		<gazebo reference="cylinder_${name}">
		  <material>Gazebo/${color}</material>
		</gazebo>

	</xacro:macro>
	
	
	<xacro:simple_cylinder name="$(arg name)" color="$(arg color)" scale="$(arg scale)"/>
	
</robot>




